:root {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font: 1em/1.65em 'Merriweather',
    serif;
  color: #333;
  background-color: #eee;
}

h1,
h2,
h3 {
  font: bold 'Fira Sans',
    sans-serif;
}

/* Perfect fourth scale from https://type-scale.com/ */
h1,
h2,
h3 {
  margin: 2.75rem 0 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

small,
.text_small {
  font-size: 0.75em;
}

p {
  margin-bottom: 1.2em;
}

/* format navigation */
.main-nav {
  width: 100vw;
  /* required to accommodate for vert scroll bar */
  max-width: 100%;
  /* 147colors.com */
  background-color: midnightblue;
  padding-left: 2rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.main-nav .nav-links {
  list-style: none;
  display: flex;
}

.nav-items a {
  display: inline-block;
  padding: .8em 1em;
}

.main-nav .nav-items a {
  color: #eee;
  text-decoration: none;
}

.nav-items:hover {
  background-color: #eee;
}

.nav-items:hover a {
  color: midnightblue;
}

.secondary-nav .nav-items {
  display: inline;
}

.secondary-nav .nav-items:hover {}

.secondary-nav .nav-items:hover a {}

/* main content */
article {
  display: flex;
  /* flex-direction, flex-wrap */
  flex-flow: row wrap;
  justify-content: space-between;
}

main {
  /* flex-grow, flex-shrink, flex-basis */
  /* flex: 2 1 auto;
  width: 36em; */
  flex: 32em;
  padding-left: 2em;
  padding-right: 2em;
}

aside {
  /* flex-grow, flex-shrink, flex-basis */
  /* flex: 1 1 auto; */
  /* width: 24em; */
  background-color: aquamarine;
  flex: 20em;
  padding: 2em;
}

@media all and (min-width: 600px) {
  aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  main {
    flex: 3 0px;
  }

  aside {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}
